/*Theme Name: cobe
Theme URI: 
Author: Wellington Avelino
Author URI: http://egermano.com
Description: Description
Version: 1.0
License: GNU General Public License
License URI: license.txt
Text Domain: zogbi-maua
Domain Path: /languages/
Tags:*/



@font-face {
    font-family: 'quicksandbold';
    src: url('fonts/quicksand_bold-webfont.eot');
    src: url('fonts/quicksand_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_bold-webfont.woff') format('woff'),
         url('fonts/quicksand_bold-webfont.ttf') format('truetype'),
         url('fonts/quicksand_bold-webfont.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandbold';
    src: url('fonts/quicksand_bold-webfont.eot');
    src: url('fonts/quicksand_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_bold-webfont.woff') format('woff'),
         url('fonts/quicksand_bold-webfont.ttf') format('truetype'),
         url('fonts/quicksand_bold-webfont.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandbook';
    src: url('fonts/quicksand_book-webfont.eot');
    src: url('fonts/quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_book-webfont.woff') format('woff'),
         url('fonts/quicksand_book-webfont.ttf') format('truetype'),
         url('fonts/quicksand_book-webfont.svg#quicksandbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'quicksandbook';
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
    font-family: 'flexslider-icon';
    src:url('fonts/flexslider-icon.eot');
    src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
        url('fonts/flexslider-icon.woff') format('woff'),
        url('fonts/flexslider-icon.ttf') format('truetype'),
        url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.cobe{
    background: url(img/icon/cobeLogo.png) no-repeat;    
    margin: 0 auto;
    width: 356px;
    height: 129px;
}

#cabecalho{
    background-color: #7bece2;
}


* {
    box-sizing: border-box;
}

ul {
    padding-left: 0px;
}

nav {
    
    font-size: 14px;
    background: #94f0e7;
    padding-left: 93px;

}

.menu {
    list-style: none;  
   
}

.menu li {
    display: inline-block;  
    margin-left: 6px;
}

.menu li:first-child {
    margin-left: 0;
}

.social-menu {
    list-style: none;   


}

.social-menu li {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #333333;
    margin-left: 3px;
}

.social-menu a {
    width: 100%;
    height: 100%;
}


.pesquisar {
    display: inline-block;    
    vertical-align: middle;
    margin-left: 39px;
    color: #ffffff;
    margin-right: 15px;
}

.contato {
    
    vertical-align: middle;
    font-size: 20px;
    color: #2ebbca;
    margin-right: 70px;
}
.sobre{
    margin-left: 600px;
    list-style: none;    
}

p{
    margin: 5px;
}
.container{
    width: 960px;
    margin: 0px auto;

}

nav span {
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
}
nav ul {
    display: inline-block;
    vertical-align: middle;
}

nav .content-menu {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 49%;
    }
.social-menu {
    list-style: none;

}
.menu-cobe li{
    display : inline-block;
    list-style: none;
    font-family: 'quicksandbook';
    color: #ffffff;
    margin-right: 25px;
  
}

.menu-cobe {
   text-align: center;  
    list-style: none;

}
.acesso-pagina{
    text-align: center;
    color: #2ebbca;
    font-family: 'quicksandbook';
    font-size: 50px;
    padding: 0 ;
    margin: 0.5em 0;
    background-color: #fff;


}
.trabalhe{
    text-align: center;
    color: #57aaa2;
    font-family: 'quicksandbook';
    font-size: 50px;
}

.rodape a{
    width: 49%;
    text-align: center;
    color: #57aaa2;
    font-family: 'quicksandbook';
    font-size: 50px;
    }
a {
    text-decoration: none;
    color: #ffffff;
}

.mail{
    color:  #57aaa2;
}

.sobre{
    color: #9e9e9e;
    text-align: center;
    margin-left: 362px;
    margin-right: 362px;
}

article {
    color: #ffffff;
}

.conteudo{
    display: none;
    position: relative;
    left: 0;

}
.accordion{

    margin-left: 100px;
}

.column-left, .column-right {
    display: table-cell;
    vertical-align: top;

}

.column-left {
    width: 384px;
    padding: 55px 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.075);
}

.column-right {
    padding: 45px 50px;
}

button {
    border: none;
    padding: 20px 30px;
    background-color: rgba(0,0,0,0.075);
    color: #ffffff;
}

section h1 {
    margin-top: 0;
    vertical-align: middle;
}
section h3 {
    
}


.icon {
    float: left;
    margin-right: 10px;
    display: inline-block;
    width: 47px;
    height: 47px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
}

.category-mix {
    background-color: #f4a56d;
}

.category-mix .icon {
    background-image: url(img/icon/mix.jpg);
}

.category-som {
    background-color: #4ca299;
}

.category-som .icon {
    background-image: url(img/icon/somDireto.jpg);
}

.category-trilha {
    background-color: #e25c3f;
}

.category-trilha .icon {
    background-image: url(img/icon/trilha.jpg);
}

.category-master {
    background-color: #f9de75;
}

.category-master .icon {
    background-image: url(img/icon/master.jpg);
}


.slider_wrapper{
    overflow: hidden;
    position:relative;
    width:419px;
    top:auto;
}




ul.bjqs{
    position:relative; 
    list-style:none;
    padding:0;
    margin:0;
    overflow:hidden; 
    display:none;
}


li.bjqs-slide{
    position:absolute;
     display:none;
 }

ul.bjqs-controls{
    list-style:none;
    margin:0;
    padding:0;
    z-index:9999;
}
ul.bjqs-controls.v-centered li a{
    position:absolute;

}

ul.bjqs-controls.v-centered li.bjqs-next a{
   right:0;
    vertical-align: middle;
  /**  font-size: 89px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    margin-top: -62px;
    right: -55px;  **/
    
    
}

ul.bjqs-controls.v-centered li.bjqs-prev a{
   /** left: -47px;
    font-size: 89px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    right: -76px;
    margin-top: -62px;   **/
         left:0;
         vertical-align: middle;
}



ul.bjqs-controls.v-centered li a:hover{
    background:#000;
    color:#fff;
    opacity: 1;
}

ul.bjqs-controls.v-centered li a{
    display:block;
    padding:10px;
    background:#fff;
    color:#000;
    text-decoration: none;
    opacity: 0;
}

ol.bjqs-markers{
    list-style: none; 
    padding: 0;
     margin: 0;
    width:100%;
  }

ol.bjqs-markers.h-centered{
    text-align: center;
}
ol.bjqs-markers li{
    display:inline;
}
ol.bjqs-markers li a{
    display:inline-block;
}
p.bjqs-caption{
    display:block;
    width:96%;
    margin:0;
    padding:2%;
    position:absolute;
    bottom:0;
}
.endereco p {
    font-size: 20px;
    padding: 20px;


}
.endereco{
    display: inline-block;

}
.endereco h4{
    font-weight: bold;
    font-size: 20px;
}
.trabalheconosco li{
    list-style: none;
}   

.trabalheconosco h4{
    font-weight: bold;
    font-size: 20px;
}

.trabalheconosco{
    display: inline-block;
    margin-left: 35px;
    
}
.trabalheconosco ul{
    margin-left: 23px;  
}

.social-link{
    display: inline-block;
   float: right;
    
}
.social-link li{
    list-style: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #333333;
    margin-left: 3px;
}
.social-link h4{
    font-weight: bold;
    font-size: 20px;
}
.telefone{
    width: 143px;
    height: 55px;
    display: inline-block;
    margin-left: 56px;
}
.telefone h4{

    font-weight: bold;
font-size: 20px;
}

.telefone li{
    list-style: none;
}
.endereco li{
    list-style: none;
}
.footer{
    background-color: #94f0e7;
    padding: 34px 0 0 0;
    height: 202px;
}
.fb-like-box{
      display: inline-block;
      float: right;
      margin-right: 164px
}
.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover {
    color: #c00;
    text-decoration: none;
}

.tooltip:hover:after {
background: #111;
background: rgba(0,0,0,.8);
border-radius: .5em;
top: -2.30em;
color: #fff;
content: attr(title);
display: block;
left: 0em;
padding: .3em 1em;
position: absolute;
text-shadow: 0 1px 0 #000;
white-space: nowrap;
z-index: 98;
}

.tooltip:hover:before {
border: solid;
border-color: #111 transparent;
border-color: rgba(0,0,0,.8) transparent;
border-width: .4em .4em 0 .4em;
top: -5px;
content: "";
display: block;
left: 1em;
position: absolute;
z-index: 99;
}
.setaBaixo{
    background : url(img/icon/baixo.png);
    display: inline-block;
    width: 16px;
    height: 15px;

}
.setaCima{
    background: url(img/icon/cima.png);
    display: inline-block;
    width: 16px;
    height: 15px;
}
hr {
display: block;
margin: 3px 0;
padding: 0;
border : none;
height: 0px;


}
.sb{

  padding: 50px;  
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
    display: none;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.sprite-social{
     background-image: url(img/icon/spritesheet2.png);
     background-repeat: no-repeat;
     display: inline-block;
}

.sprite {
    background-image: url(img/icon/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-facebook {
    width: 25px;
    height: 25px;
    background-position: -10px -10px;
}

.sprite-master {
    width: 47px;
    height: 47px;
    background-position: -55px -10px;
}

.sprite-mix {
    width: 47px;
    height: 47px;
    background-position: -10px -77px;
}

.sprite-somDireto {
    width: 47px;
    height: 47px;
    background-position: -77px -77px;
}

.sprite-todos {
    width: 47px;
    height: 47px;
    background-position: -122px -10px;
}

.sprite-trilha {
    width: 47px;
    height: 47px;
    background-position: -144px -77px;
}

.sprite-twitter {
    width: 25px;
    height: 25px;
    background-position: -189px -10px;
}
.quicksandbold{
    font-family: 'quicksandbold';
   
}
.facebook{
    width: 50px;
    height: 50px;
    background-position: -22px -10px;
}
.twitter{
    width: 50px;
    height: 50px;
    background-position: -76px -10px;
}
.instagram{
    width: 50px;
    height: 50px;
    background-position: -76px -65px;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}